<section id="thank_you">
	
	<div class="row">
		
		<div class="panel panel-default">
		
			<div class="panel-body">
				<p>Thank you. We have received you message and will respond as soon as possible.</p>
			</div>
		
		</div>

	</div>

</section>