<div class="container-fluid" style="padding-top: 50px; margin-left: 10px;">
	<input type="text" ng-model="name" placeholder="bikyland" hidden="true">
	<div ng-controller="OrdersCtrl">
		<h1>Orders</h1>
		<form class="form-inline" ng-submit="addOrder()">
			<input type="number" step="0.01" class="form-control" placeholder="Total" ng-model="newOrder.total">
			<input type="submit" value="+" class="btn btn-success">
		</form>

		<table class="table table-hover">
	  		<thead>
	    		<td>Order ID</td>
	    		<td>Total</td>
	    		<td></td>
	  		</thead>
			<tr ng-repeat="order in orders | orderBy:'-id':reverse">
				<td> {{order.id}} </td>
				<td> {{order.total | currency}}</td>	
				<td>
	  				<button ng-click="deleteOrder(order)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
				</td>
			</tr>
		</table>
	</div>
</div>