<div class="container-fluid" id="checkout-payment">
    <div class="row">
            <%= render 'receipt_row', product: @order_items.product, order_item: @order_items, show_total: true %>
    </div>
</div>