<div class="container-fluid">
	
	<div class="row">
		<%= render "shopping_cart" %>
	</div>

	<!-- Total Amount due -->
	<h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency current_order.total %></span></h4>
</div>
