<div class="container">
	<div class="row">
		<%= render "shopping_cart" %>
	</div>
	<h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency current_order.total %></span></h4>
</div>
