body {
  padding-top: 50px; 
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Poiret One', cursive;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

tr td,
tr th{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.field, .actions{
  padding-left: 5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.row{
  padding-left: 15px;
  padding-right: 15px;
}
/*Products Index Stylings*/

tbody * {
  font-size: 16px;
}

.filterable .panel-heading .pull-right {
    margin-top: -23px;
}

/*Edit From Stylings*/
.product-nav {
  text-align: center;
}

.product-nav :hover{
  background: none;
}

/*Login, Sign Up, Forget Password form styles */

.login_form,
.sign_up_form,
.forgot_form {
  width: 100%;
  padding: 3%;
  margin: auto;
  background-color: #EFC94C;
}

.login_field,
.sign_up_field,
.forgot_field {
  position: relative;
  z-index: 1;
  background: #F3FFE2;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login_input,
.sign_up_input,
.forgot_input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;  
}

.login_button,
.sign_up_button,
.forgot_button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login_button:hover, .login_button:active, .login_button:focus,
.sign_up_button:hover, .sign_up_button:active, .sign_up_button:focus,
.forgot_button:hover, .forgot_button:active, .forgot_button:focus {
  background: #43A047;
}

.login_help, 
.sign_up_help,
.forgot_help {
  margin: 15px;
  font-size: 16px;
}

.login_help :hover, 
.sign_up_help :hover,
.forgot_help :hover {
  background: none;
  font-weight: bold;
  color: red;
}

/* Shopping Cart / Cart-Row Stylings */

#shopping-cart {
  padding-top: 50px;
}

#cart-row .table>tbody>tr>td, 
#cart-row .table>tfoot>tr>td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
  width:20%;
  display: inline !important;
  }

  .actions .btn {
    width:36%;
    margin:1.5em 0;
  }
  
  .actions .btn-info {
    float:left;
  }

  .actions .btn-danger {
    float:right;
  }
  
  table#cart thead { 
    display: none; 
  }
  
  table#cart tbody td { 
    display: block; 
    padding: .6rem; 
    min-width:320px;
  }
  
  table#cart tbody tr td:first-child { 
    background: #333; 
    color: #fff; 
  }

  table#cart tbody td:before {
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block; 
    width: 8rem;
  }
  
  table#cart tfoot td {
    display:block; 
  }
  
  table#cart tfoot td .btn {
    display:block;
  }
  
}