<h1>New Product</h1>

<%= render 'form' %>
  <div class="product-nav">
  	<!-- Back to Products Listings -->
    <%= link_to '', products_path, :class => 'glyphicon glyphicon-circle-arrow-left' %>
  </div>
